<launch>

  <arg name="VISUAL" default="-g" />

  <param name="/use_sim_time" value="true"/>  
  <node pkg="stage" type="stageros" name="stageros" args="$(arg VISUAL) $(find higgs_stage_sim)/stage_files/willow-higgs.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
    <remap from="/odom" to="/pioneer/odom" />
    <remap from="/cmd_vel" to="/pioneer/cmd_vel" />
  </node>
 
</launch>
