<launch>

  <machine name="higgs" address="higgs" env-loader="/opt/ros/fuerte/env.sh" />
    
  <node pkg="pr2_teleop" name="teleop" type="teleop_pr2_keyboard" output="screen" machine="higgs">
    <remap from="cmd_vel" to="/pioneer/cmd_vel" />
    <param name="walk_vel" value="0.5" />
    <param name="run_vel" value="1.0" />
    <param name="yaw_rate" value="1.0" />
    <param name="yaw_run_rate" value="1.5" />  
  </node>
 
	
</launch>
