<launch>

  <param name="test" value="Testbed2a" />
  
  <!-- controlled plant or system -->
  <include file="$(find OM_Testbed2)/launch/application_system_testbed2a.launch" />
  
    
  <!-- org.aslab.om.metacontrol -->
  <include file="$(find OMRosDrivers_py)/launch/metacontrol.launch" />
 
    
</launch>
